<div id="page_content">
    <div id="top_bar">
        <div ncy-breadcrumb></div>
    </div>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <button style="margin-bottom:15px;" class="md-btn md-btn-success" ng-click='buycurr()'> <span class='k-icon k-i-plus'></span>Валют авах</button>
                <button style="margin-bottom:15px;" class="md-btn md-btn-primary" ng-click='sellcurr()'> <span class='k-icon k-i-plus'></span>Валют зарах</button>
                <kendo-grid options="pmenuGrid"></kendo-grid>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <span style="display:block;  text-align:right;">&copy; 2016-2017 <a href="www.tyder.kinder.mn">Tyder LLC</a>, All rights reserved.</span>
</footer>



<div class="uk-modal" id="modal_sellcurr">
    <div class="uk-modal-dialog uk-modal-dialog-large" data-uk-grid-margin>
        <button type="button" id="closemodal" class="uk-modal-close uk-close uk-close-alt"></button>
        <h3 class="heading_a">Валют зарах</h3>
        <form name="form_val" id="form_val"  data-ng-submit="submitForm($event)">
            <hr style="margin-bottom:10px;">
            <div class="uk-margin-medium-bottom">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-2-10">
                        <div class="uk-form-row parsley-row">
                            <label for="sellognoo">Огноо<span class="req">*</span></label>
                            <input type="text" ng-model="tr.date" name="val_birth" id="sellognoo" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input />
                        </div>

                    </div>
                    <div class="uk-width-medium-4-10">
                        <div class="uk-form-row parsley-row">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row parsley-row">
                                        <span style="float:left; margin:15px 15px 0 5px;" for="barimt">Баримт №</span>
                                        <div style="float:left; width:100px; margin: -1px 15px 0 0">
                                            <input type="text" ng-model="tr.receipttype" config="selectize_a_config" options="selectize_a_data.options" name="selectize_a" selectize />
                                        </div>
                                        <div style="float:left; width:150px; " >
                                            <input type="text" ng-model="tr.receiptno" ng-disabled="false" name="bairshil" required class="md-input" md-input />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-4-10">
                        <div class="uk-form-row parsley-row">
                            <label for="sellguilgee">Гүйлгээний утга<span class="req">*</span></label>
                            <textarea id="sellguilgee" cols="30" rows="2" style="min-height:90px;" class="md-input" ng-model="tr.transaction" md-input textarea-autosize></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-card">

                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <h3 class="md-card-toolbar-heading-text">
                                Орлогодох валютын мэдээлэл
                            </h3>
                            <div class="uk-width-medium-8-10 uk-float-left">
                                <div class="uk-form-row parsley-row">
                                    <label for="sellcurrWorth">Валютийн дүн<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellcurrWorth" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10 uk-float-left" style="padding-left: 20px;">
                                <div class="uk-form-row parsley-row">
                                    <input type="text" id="sellcurrency" ng-model="aaa" config="selectize_c_config" options="selectize_c_options" name="selectize_c" selectize data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1 uk-float-left">
                                <div class="uk-form-row parsley-row">
                                    <label for="sellAlban">Албан ханш<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellAlban" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="sellAwax">Авах ханш<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellAwax" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="sellBelneer">Бэлнээр<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellBelneer" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <input type="text" id="sellbanklist" ng-model="aaa" config="selectize_c_config" options="selectize_c_options" name="selectize_c" selectize data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="sellZeeleer">Банкаар<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellZeeleer" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <h3 class="md-card-toolbar-heading-text">
                                Зарлагадах валютын мэдээлэл
                            </h3>
                            <div class="uk-width-medium-8-10 uk-float-left">
                                <div class="uk-form-row parsley-row">
                                    <label for="sellcurrWorth1">Валютийн дүн<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellcurrWorth1" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10 uk-float-left" style="padding-left: 20px;">
                                <div class="uk-form-row parsley-row">
                                    <input type="text" id="sellcurrency1" ng-disabled="true" ng-model="aaa" config="selectize_c_config" options="selectize_c_options" name="selectize_c" selectize data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1 uk-float-left">

                                <div class="uk-form-row parsley-row">
                                    <label for="sellBelneer1">Бэлнээр<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellBelneer1" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <input type="text" id="sellbanklist1" ng-model="aaa" config="selectize_c_config" options="selectize_c_options" name="selectize_c" selectize data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="sellZeeleer1">Банкаар<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellZeeleer1" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="sellAwax1">Ханшын зөрүү олз/гарз<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="sellAwax1" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="submit" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Хадгалах</button>
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Хаах</button>
            </div>


        </form>
    </div>
</div>

<div class="uk-modal" id="modal_buycurr">
    <div class="uk-modal-dialog uk-modal-dialog-large" data-uk-grid-margin>
        <button type="button" id="closemodalsell" class="uk-modal-close uk-close uk-close-alt"></button>
        <h3 class="heading_a">Валют авах</h3>
        <form name="form_val" id="form_val_buy"  data-ng-submit="submitFormsell($event)">
            <hr style="margin-bottom:10px;">
            <div class="uk-margin-medium-bottom">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-2-10">
                        <div class="uk-form-row parsley-row">
                            <label for="buyognoo">Огноо<span class="req">*</span></label>
                            <input type="text" ng-model="tr.date" name="val_birth" id="buyognoo" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input />
                        </div>

                    </div>
                    <div class="uk-width-medium-4-10">
                        <div class="uk-form-row parsley-row">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-form-row parsley-row">
                                        <span style="float:left; margin:15px 15px 0 5px;" for="barimt">Баримт №</span>
                                        <div style="float:left; width:100px; margin: -1px 15px 0 0">
                                            <input type="text" ng-model="tr.receipttype" config="selectize_a_config" options="selectize_a_data.options" name="selectize_a" selectize />
                                        </div>
                                        <div style="float:left; width:150px; " >
                                            <input type="text" ng-model="tr.receiptno" ng-disabled="false" name="bairshil" required class="md-input" md-input />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-4-10">
                        <div class="uk-form-row parsley-row">
                            <label for="guilgee">Гүйлгээний утга<span class="req">*</span></label>
                            <textarea id="guilgee" cols="30" rows="2" style="min-height:90px;" class="md-input" ng-model="tr.transaction" md-input textarea-autosize></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-card">

                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <h3 class="md-card-toolbar-heading-text">
                                Орлогодох валютын мэдээлэл
                            </h3>
                            <div class="uk-width-medium-8-10 uk-float-left">
                                <div class="uk-form-row parsley-row">
                                    <label for="currWorth">Валютийн дүн<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="currWorth" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10 uk-float-left" style="padding-left: 20px;">
                                <div class="uk-form-row parsley-row">
                                    <input type="text" id="currency" ng-model="aaa" config="selectize_c_config" options="selectize_c_options" name="selectize_c" selectize data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1 uk-float-left">
                                <div class="uk-form-row parsley-row">
                                    <label for="buyAlban">Албан ханш<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="buyAlban" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="buyAwax">Авах ханш<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="buyAwax" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="buyBelneer">Бэлнээр<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="buyBelneer" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <input type="text" id="banklist" ng-model="aaa" config="selectize_c_config" options="selectize_c_options" name="selectize_c" selectize data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="buyZeeleer">Банкаар<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="buyZeeleer" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <h3 class="md-card-toolbar-heading-text">
                                Зарлагадах валютын мэдээлэл
                            </h3>
                            <div class="uk-width-medium-8-10 uk-float-left">
                                <div class="uk-form-row parsley-row">
                                    <label for="currWorth1">Валютийн дүн<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="currWorth1" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                            </div>
                            <div class="uk-width-medium-2-10 uk-float-left" style="padding-left: 20px;">
                                <div class="uk-form-row parsley-row">
                                    <input type="text" id="currency1" ng-disabled="true" ng-model="aaa" config="selectize_c_config" options="selectize_c_options" name="selectize_c" selectize data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1 uk-float-left">

                                <div class="uk-form-row parsley-row">
                                    <label for="buyBelneer1">Бэлнээр<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="buyBelneer1" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <input type="text" id="banklist1" ng-model="aaa" config="selectize_c_config" options="selectize_c_options" name="selectize_c" selectize data-uk-tooltip="{pos:'top'}" title="Select with tooltip">
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="buyZeeleer1">Банкаар<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="buyZeeleer1" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                                <div class="uk-form-row parsley-row">
                                    <label for="buyAwax1">Ханшын зөрүү олз/гарз<span class="req">*</span></label>
                                    <input class="md-input masked_input" ng-model="aaa" id="buyAwax1" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '₮ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="submit" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Хадгалах</button>
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Хаах</button>
            </div>


        </form>
    </div>
</div>


<script type="text/x-kendo-template" id="add">
    <div style="text-align:left;">
        <button class="md-btn md-btn-success" ng-click='inventory()'> <span class='k-icon k-i-plus'></span>Бараа материал</button>
    </div>
</script>
<script type="text/x-kendo-template" id="update">
    <div id="details-container" style="float:left;">
        <button class="md-btn md-btn-small md-btn-primary" ng-click='edit(#:id#)'> </span>засах</button>
    </div>
    <div id="details-container1" style="float:left; margin-left: 20px;">
        <button class="md-btn md-btn-small md-btn-danger" ng-click='deleteO(#:id#)'> </span>устгах</button>
    </div>
</script>
<script id="noDataLocationTemplate" type="text/x-kendo-tmpl">
        <div>
            No data found. Do you want to add new item - '#: instance.text() #' ?
        </div>
        <br />
        <button class="k-button" onclick="addNew('#: instance.element[0].id #', '#: instance.text() #')">Add new item</button>
    </script>
<script id="noDataTemplate" type="text/x-kendo-tmpl">
        <div>
            No data found. Do you want to add new item - '#: instance.text() #' ?
        </div>
        <br />
        <button class="k-button" onclick="addNew('#: instance.element[0].id #', '#: instance.text() #')">Add new item</button>
    </script>
<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
            Multi-page grid with automatic page breaking
        </div>
        <div class="watermark">Tyder LLC</div>
        <div class="footer">
            Page #: pageNum # of #: totalPages #
        </div>
    </div>
</script>
